# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea/
logs/
*.log
application.json
release-repo
